{
  "gemini_api_key": "PASTE_KEY_FROM_https://aistudio.google.com/apikey",
  "os_system": "Windows",
  "assistant_name": "JARVIS",
  "user_name": "sir",
  "fish_api_key": "",
  "fish_voice_id": "14129c3e320149449d6bada6862f7338",
  "tts_engine": "fish"
}
